doctype html
html

  head

    ul.nav

      li: a(href='/') Home
      li: a(href='#news') Projects
      li: a(href='#about') About
      li: a(href='#contact') Contact


    link(rel='stylesheet', href='/css/index.css')
    title fdsilva mobile developer

  body

    .header
      img(src='https://lh5.googleusercontent.com/apM2t2jR8AdukUNcBZ3yNkN4MN2_4PfHCyiw7-rEuhm-46WTt3mCHiZtkNrgSEoCwOXD0xgNGWsqWKo=w1346-h897-rw')
      h1.page-title mobile development

  
    
    .main-content
      block content

    .footer
      p 
