doctype html
html

  head
    ul.nav
      li: a(href='/') Home
      li: a(href='#news') Projects
      li: a(href='#about') About
      li: a(href='#contact') Contact


    link(rel='stylesheet', href='/css/index.css')
    title fdsilva mobile developer

  body
    .header
      h1.page-title mobile developer

  
    
    .main-content
      block content

    .footer
      p 
